<div class="text-center text-white">
    <div class="card-header bg-primary">
        Featured
    </div>
    <div class="card-body bg-dark">
        <h5 class="card-title">Social Platforms</h5>
        <div style="width: auto;" class="form-group">

            <img style="margin:20px;" width="30px" src=".\assets\icons\fb.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\icons\inst.png" alt="..." class="rounded-circle">

            <img style="margin:20px;" width="30px" src=".\assets\icons\twi.png" alt="..." class="rounded-circle">


        </div>


    </div>
    <div class="card-footer text-light bg-primary">
        Copyright @ 2022 CHMSC LIBRARY MANAGEMENT SYSTEM. ALL RIGHTS RESERVED
    </div>
</div>